<div class="panel panel-primary">
  <div class="panel-heading">
    COMPONENTI DEL GIOCO
  </div>
  <div class="panel body">
    La versione base della scatola del gioco si compone di:
    <ul>
      <li>24 pedine di legno, suddivise in 4 citta', 5 colonie e 15 strade per ogni colore (bianco, rosso, blu, arancione)</li>
      <li>1 pedina Brigante</li>
      <li>37 esagoni raffiguranti i terreni, suddivisi in 4 pascoli, 4 foreste, 4 campi, 3 montagne, 3 colline, 1 deserto e 18 mari, di cui 9 comprensivi di porti</li>
      <li>95 carte materia prima, 19 per ogni risorsa producibile (lana, legno, grano, minerali, argilla)</li>
      <li>25 carte sviluppo, divise in 14 carte Cavaliere, 5 carte Edificio e 6 carte Progresso</li>
      <li>4 tabelle riassuntive dei costi di costruzione</li>
      <li>2 schede certificato, una per la strada piu' lunga e una per il cavaliere piu potente</li>
      <li>due dati numerati a 6 facce</li>
      <li>il regolamento del gioco</li>
    </ul>
  </div>
</div>
    