<div class="panel panel-primary">
  <div class="panel-heading">
    PUNTEGGIO E VITTORIA FINALE
  </div>
  <div class="panel body">
    Il primo giocatore che riesce ad ottenere un punteggio pari o superiore a 10 vince la partita. E' possibile anche aumentare il punteggio fino ad un massimo di 14 punti, ma bisogna deciderlo ad inizio partita.
    I punti si ottengono sommando i vari punteggi derivanti da:
    <ul>
      <li><b>1 punto</b> per ogni colonia costruita</li>
      <li><b>2 punti</b> per ogni citta' costruita</li>
      <li><b>2 punti</b> se si e' costruito la strada piu lunga, a partire da un minimo di 5 strade consecutive</li>
      <li><b>2 punti</b> se si ha l'armata piu' potente, a partire da 3 cavalieri</li>
      <li><b>1 punto</b> per ogni carta sviluppo in cui e' scritto 1 punto</li>
    </ul>
  </div>
</div>
    