<div class="row">
  <div class="col-lg-6 col-md-6 col xs-6">
    <div class="panel panel-default">
      <div class="panel-heading bg-info">Tipo di gioco:</div>
      <div class="panel-body">{{ selectedGame?.gameType.type }}</div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col xs-6">
    <div class="panel panel-default">
      <div class="panel-heading bg-info">Numero di giocatori::</div>
      <div class="panel-body">{{ selectedGame?.info.minPlayer }} - {{ selectedGame?.info.maxPlayer }} giocatori</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col xs-6">
    <div class="panel panel-default">
      <div class="panel-heading bg-info"><i class="far fa-clock"></i> Preparazione partita:</div>
      <div class="panel-body">{{ selectedGame?.info.preparationTime }} minuti</div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col xs-6">
    <div class="panel panel-default">
      <div class="panel-heading bg-info"><i class="far fa-clock"></i> Durata media partita:</div>
      <div class="panel-body">{{ selectedGame?.info.timeDuration }} minuti</div>
    </div>
  </div>
</div>