<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4 infoLabel">Tipo di gioco:</div>
  <div class="col-lg-8 col-md-8 col-xs-8 infoValue">{{ selectedGame?.gameType.type }}</div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4 infoLabel"><i class="fas fa-envelope"></i> Numero di giocatori:</div>
  <div class="col-lg-8 col-md-8 col-xs-8 infoValue">{{ selectedGame?.info.minPlayer }} - {{ selectedGame?.info.maxPlayer }} giocatori</div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4 infoLabel">Preparazione partita:</div>
  <div class="col-lg-8 col-md-8 col-xs-8 infoValue">{{ selectedGame?.info.preparationTime }} minuti</div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-xs-4 infoLabel">Durata media partita:</div>
  <div class="col-lg-8 col-md-8 col-xs-8 infoValue">{{ selectedGame?.info.timeDuration }} minuti</div>
</div>