<div class="panel panel-primary">
  <div class="panel-heading">
    COME SI GIOCA
  </div>
  <div class="panel body">
    <b>FASE INIZIALE:</b><br/>
    A partire dal primo, e seguendo il senso orario, ciascun giocatore posiziona una colonia del proprio colore in un qualsiasi vertice
    in cui due o piu esagoni si toccano. Posizionata la colonia, posizionare anche una strada che parte dalla colonia posizionata.<br/>
    In generale, il posizionamento della colonia e' concesso se sussistono entrambe le seguenti condizioni (nella fase iniziale il primo punto non vale):
    <ul>
      <li>C'e' una strada che non ha una colonia o una citta' gia' posizionata in uno dei suoi due estremi</li>
      <li>Tutte le altre colonie o citta', proprie o di altri giocatori, devono essere posizionate a distanza minima di due strade dalla posizione in cui si vuole posizionare la propria colonia</li>
    </ul>
    Quando tutti i giocatori hanno posizionato le loro colonie, il senso si inverte e partendo dall'ultimo fino al primo giocatore, si posiziona una 
    seconda colonia in base alle regole sopra descritte. Solo nel secondo giro, il posizionamento della colonia fa guadagnare al giocatore le risorse
    rappresentate dagli esagoni su cui la colonia e' stata posizionata.
    <br/><br/>
    <b>SINGOLO TURNO:</b><br/>
    Il giocatore lancia i dadi. Tutti i giocatori che hanno una colonia o una citta' posizionata ai vertici degli esagoni che hanno il numero uguale alla somma dei dadi,
    ricevono una carta risorsa in base all'esagono su cui il numero e' posizionaato. Se si tratta di una colonia, si riceve una carta, in caso di citta', le carte ricevute sono 2.
    E' possibile anche ottenere piu risorse per uno stesso esagono, se su di esso sono presenti sia colonie che citta' (ad esempio se si ha una casa e una colonia su un esagono
    rappresentante la foresta, il giocatore prendera' 3 carte legno).<br/>
    Ottenute le carte, il giocatore puo':
    <ul>
      <li>costruire una strada, pagando 1 legno + 1 argilla</li>
      <li>costruire una colonia, pagando 1 legno + 1 argilla + 1 pecora + 1 grano</li>
      <li>costruire una citta', pagando 2 grano + 3 pietre, sostituendo una colonia a sua scelta con la citta'</li>
      <li>acquistare una carta sviluppo, pagando 1 pecora + 1 grano + 1 pietra, il cui potere puo' essere utilizzato al turno successivo (non seguono questa regola le carte sviluppo che portano punti immediati)</li>
    </ul>
    Il giocatore di turno puo' anche ottenere carte risorse:
    <ul>
      <li>scambiando le proprie con quelle degli altri giocatori e lo scambio non deve essere necessariamente all pari (si possono cedere 2 o piu carte e riceverne una sola in cambio, o viceversa)</li>
      <li>scambiando 4 carte della stessa risorsa con una a proprio volere</li>
      <li>nel caso in cui si ha una colonia o una citta' su un porto, si scambiano
        <ul>
          <li>tre carte risorsa uguali, se il porto e' generico (raffigurato dal punto interrogativo)</li>
          <li>due carte risorsa uguali, se il porto e' specifico (raffigurato dalla risorsa specifica)</li>
        </ul>
      </li>
    </ul>
    Non c'e' limite al numero di carte che si possono tenere in mano, ma se un giocatore lanciando i dadi, ottiene un punteggio pari a 7, tutti i giocatori che hanno piu di 7 carte in mano ne devono
    scartare la meta' per difetto (se si hanno 10 carte se ne scartano 5, se se ne hanno 9 se ne scartano solo 4). 
    Il giocatore che ha lanciato i dadi sposta la pedina del Brigante su un esagono a suo piacimento e puo' pescare una carta dalla mano del giocatore che ha bloccato (se ci sono due o piu' giocatori bloccati ne sceglie uno solo).
    Il Brigante su un esagono fa si che i giocatori che hanno una colonia o una citta' posizionati ai suoi vertici, non possono ottenere nessuna risorsa se i successivi con i successivi lanci dei dadi si ottiene il valore dell'esagono.
    <br/><br/>
    <b>LE CARTE SVILUPPO:</b><br/>
    Le carte sviluppo possono essere utilizzate nei turni successivi dalla loro acquisizione (regola non seguita dalle carte sviluppo che portano punti immediati).
    <ul>
      <li><b>Monopolio</b> da diritto a prendere dagli altri giocatori, tutte le risorse di un determinato tipo</li>
      <li><b>Scoperta</b> da diritto a prendere due carte risorse dalla banca</li>
      <li><b>Costruzione</b> da diritto a posizionare due strade sull'isola</li>
      <li><b>Cavaliere</b> ha lo stesso identico effetto di quando si lancia il dado e si ottiene il punteggio di 7, con la differenza che i giocatori con piu di 7 carte nella propria mano non devono scartarne la meta'.</li>
    </ul>
  </div>
</div>
    