<div class="panel panel-primary">
  <div class="panel-heading">
    SETUP GIOCO
  </div>
  <div class="panel body">
    <ul>
      <li>Una volta separate le carte in base alle risorse che esse rappresentano, e una volta mischiate le carte sviluppo, procedere alla preparazione del gioco</li>
      <li>Comporre l'esagono rappresentante l'isola, connettendo le varie parti in base ai numeri segnati agli estremi</li>
      <li>Mischiare gli esagoni e disporli in modo casuale all'interno dell'isola</li>
      <li>Mischiare, o seguirne l'ordine in base alle lettere poste sul dorso, i tasselli con i numeri e disporli uno per ogni esagono, facendo attenzione alle seguenti regole:
        <ul>
          <li>l'esagono raffigurante il Deserto non deve avere nessun numero</li>
          <li>non ci possono essere due numeri uguali adiacenti</li>
          <li>il 6 e l'8, colorati in rosso, non possono essere adiacenti</li>
        </ul>
      </li>
      <li>posizionare la pedina del Brigante sul deserto</li>
      <li>Lanciare un dado per stabilire chi sara' il primo giocatore in base al punteggio piu alto</li>
    </ul>
  </div>
</div>
    