<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
      <h1>{{ boardGame?.name }}
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-4 col-xs-4">
      <img src="/assets/images/thumb/{{ boardGame?.picture }}" alt="{{ boardGame?.name }}" title="{{ boardGame?.name }}" class="img-detail img-logo">
    </div>
    <div class="col-lg-8 col-md-8 col-xs-8">
      <bgw-bg-info [selectedGame]="getSelectedBoardGame()"></bgw-bg-info>
    </div>
  </div>
</div>
